header {
   //  height: 80px;
    background-color: rgba($color: #c90014, $alpha: 0.7);
    padding: 1rem;

    .nav-link {
      font-weight: 600;
      font-size: 1.2rem;
    }
     img {
        width: 100px;
     }
     position: sticky;
     width: 100%;
     top: 0;
     left: 0;
     z-index: 99;
}